---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collections
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713748366'
      Etag:
      - '"545-rPuJXnSAheGKMhQFwxoQgihWsMk"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"view":"list","_id":36370053,"title":"Unread","description":"","user":{"$ref":"users","$id":1629134},"public":false,"count":706,"cover":[],"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-21T16:41:58.740Z","created":"2023-07-31T22:47:02.382Z","lastUpdate":"2024-04-21T16:41:58.740Z","sort":36370053,"slug":"unread","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true},{"_id":43330903,"title":"tech","description":"","user":{"$ref":"users","$id":1629134},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-16T17:19:12.919Z","created":"2024-04-16T17:19:12.943Z","lastUpdate":"2024-04-16T17:19:12.943Z","slug":"tech","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true},{"_id":43358979,"title":"Interesting","description":"","user":{"$ref":"users","$id":1629134},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-17T18:20:09.703Z","created":"2024-04-17T18:20:09.704Z","lastUpdate":"2024-04-17T18:20:09.704Z","slug":"interesting","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true}]}'
  recorded_at: Mon, 22 Apr 2024 01:11:46 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/user/stats
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Reset:
      - '1713748366'
      X-Api-Cache:
      - HIT
      Etag:
      - '"b3-JdcLmiwUa6Khh/EwZ3AEC8Vpa7w"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"_id":0,"count":1452},{"_id":-1,"count":746},{"_id":-99,"count":25}],"meta":{"_id":"123456789","changedBookmarksDate":"2024-04-21T20:36:03.665Z","pro":false}}'
  recorded_at: Mon, 22 Apr 2024 01:11:47 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
      X-Ratelimit-Reset:
      - '1713748366'
      Etag:
      - '"124-gumjcYTcMeoCMH+HUGyYNqn5/eI"'
    body:
      encoding: UTF-8
      string: '{"result":true,"item":{"_id":"123456789","title":"","description":"","user":{"$ref":"users","$id":"123456789"},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1629134,"lastAction":"2024-04-22T01:11:47.434Z","access":{"for":"123456789","level":4,"draggable":false},"author":true}}'
  recorded_at: Mon, 22 Apr 2024 01:11:47 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/-1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '116'
      X-Ratelimit-Reset:
      - '1713748366'
      Etag:
      - '"125-Q7AJzXDMz/HO/vO06XhDQkw6rcI"'
    body:
      encoding: UTF-8
      string: '{"result":true,"item":{"_id":"123456789","title":"","description":"","user":{"$ref":"users","$id":"123456789"},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1629134,"lastAction":"2024-04-22T01:11:47.719Z","access":{"for":"123456789","level":4,"draggable":false},"author":true}}'
  recorded_at: Mon, 22 Apr 2024 01:11:47 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/-99
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '115'
      X-Ratelimit-Reset:
      - '1713748366'
      Etag:
      - '"126-IuI/+IwAaux71R2WvRNLCzUAnZw"'
    body:
      encoding: UTF-8
      string: '{"result":true,"item":{"_id":"123456789","title":"","description":"","user":{"$ref":"users","$id":"123456789"},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1629134,"lastAction":"2024-04-22T01:11:47.987Z","access":{"for":"123456789","level":4,"draggable":false},"author":true}}'
  recorded_at: Mon, 22 Apr 2024 01:11:48 GMT
recorded_with: VCR 6.2.0
