---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collections
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '113'
      X-Ratelimit-Reset:
      - '1714081130'
      Etag:
      - '"545-rPuJXnSAheGKMhQFwxoQgihWsMk"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"view":"list","_id":36370053,"title":"Unread","description":"","user":{"$ref":"users","$id":1629134},"public":false,"count":706,"cover":[],"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-21T16:41:58.740Z","created":"2023-07-31T22:47:02.382Z","lastUpdate":"2024-04-21T16:41:58.740Z","sort":36370053,"slug":"unread","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true},{"_id":43330903,"title":"tech","description":"","user":{"$ref":"users","$id":1629134},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-16T17:19:12.919Z","created":"2024-04-16T17:19:12.943Z","lastUpdate":"2024-04-16T17:19:12.943Z","slug":"tech","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true},{"_id":43358979,"title":"Interesting","description":"","user":{"$ref":"users","$id":1629134},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-17T18:20:09.703Z","created":"2024-04-17T18:20:09.704Z","lastUpdate":"2024-04-17T18:20:09.704Z","slug":"interesting","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true}]}'
  recorded_at: Thu, 25 Apr 2024 21:38:34 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/user/stats
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '112'
      X-Ratelimit-Reset:
      - '1714081130'
      X-Api-Cache:
      - HIT
      Etag:
      - '"b3-PJVIXvivufJIBOR3MbBnGy4+e54"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"_id":0,"count":1464},{"_id":-1,"count":758},{"_id":-99,"count":25}],"meta":{"_id":"123456789","changedBookmarksDate":"2024-04-25T17:00:26.844Z","pro":false}}'
  recorded_at: Thu, 25 Apr 2024 21:38:34 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '111'
      X-Ratelimit-Reset:
      - '1714081130'
      Etag:
      - '"124-iMLwnyG2OxYDnOnNPCa9F4hSPAc"'
    body:
      encoding: UTF-8
      string: '{"result":true,"item":{"_id":"123456789","title":"","description":"","user":{"$ref":"users","$id":"123456789"},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1629134,"lastAction":"2024-04-25T21:38:35.032Z","access":{"for":"123456789","level":4,"draggable":false},"author":true}}'
  recorded_at: Thu, 25 Apr 2024 21:38:35 GMT
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/-1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '110'
      X-Ratelimit-Reset:
      - '1714081130'
      Etag:
      - '"125-VGqZ/NSniRxClQUZNNnRFC5Vv7k"'
    body:
      encoding: UTF-8
      string: '{"result":true,"item":{"_id":"123456789","title":"","description":"","user":{"$ref":"users","$id":"123456789"},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1629134,"lastAction":"2024-04-25T21:38:35.313Z","access":{"for":"123456789","level":4,"draggable":false},"author":true}}'
  recorded_at: Thu, 25 Apr 2024 21:38:35 GMT
[...]
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collections/childrens
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '108'
      X-Ratelimit-Reset:
      - '1714081130'
      Etag:
      - '"9a4-C2ydz3mg4lm4Jp7CUdU3f2Ac0QU"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"_id":43330907,"title":"programming","description":"","user":{"$ref":"users","$id":1629134},"parent":{"$ref":"collections","$id":43330903},"public":false,"view":"simple","count":0,"cover":[],"sort":3,"expanded":true,"creatorRef":{"_id":1629134,"name":"user123","email":""},"lastAction":"2024-04-16T17:19:41.716Z","created":"2024-04-16T17:19:41.717Z","lastUpdate":"2024-04-16T17:26:48.391Z","slug":"programming","access":{"for":1629134,"level":4,"root":false,"draggable":true},"author":true},{"_id":43330933,"title":"AI/ML","description":"","user":{"$ref":"users","$id":1629134},"parent":{"$ref":"colle[...]
