---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collection/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713371370'
      Etag:
      - W/"38-iJko4beMFEiuGB7qKIgn7EIFr2M"
    body:
      encoding: ASCII-8BIT
      string: '{"result":false,"status":404,"errorMessage":"Not found"}'
  recorded_at: Wed, 17 Apr 2024 16:28:30 GMT
recorded_with: VCR 6.2.0
