---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/user/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713405469'
      X-Api-Cache:
      - MISS
      Etag:
      - W/"b3-9flreuVYRAkxqrVlCCQrnJ8du6Y"
    body:
      encoding: ASCII-8BIT
      string: '{"result":true,"items":[{"_id":0,"count":1450},{"_id":-1,"count":743},{"_id":-99,"count":24}],"meta":{"_id":123456,"changedBookmarksDate":"2024-04-18T01:44:37.050Z","pro":false}}'
  recorded_at: Thu, 18 Apr 2024 01:56:49 GMT
recorded_with: VCR 6.2.0
