---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collections/childrens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713404757'
      Etag:
      - W/"9a4-C2ydz3mg4lm4Jp7CUdU3f2Ac0QU"
    body:
      encoding: ASCII-8BIT
      string: '{"result":true,"items":[{"_id":43330907,"title":"programming","description":"","user":{"$ref":"users","$id":1234567},"parent":{"$ref":"collections","$id":43330903},"public":false,"view":"simple","count":0,"cover":[],"sort":3,"expanded":true,"creatorRef":{"_id":1234567,"name":"user123","email":""},"lastAction":"2024-04-16T17:19:41.716Z","created":"2024-04-16T17:19:41.717Z","lastUpdate":"2024-04-16T17:26:48.391Z","slug":"programming","access":{"for":1234567,"level":4,"root":false,"draggable":true},"author":true},{"_id":43330933,"title":"AI/ML","description":"","user":{"$ref":"users","$id":1234567},"parent":{"$ref":"collections","$id":43330903},"public":false,"view":"simple","count":0,"cover":[],"sort":2,"expanded":true,"creatorRef":{"_id":1234567,"name":"user123","email":""},"lastAction":"2024-04-16T17:23:18.994Z","created":"2024-04-16T17:23:18.994Z","lastUpdate":"2024-04-16T17:26:48.391Z","slug":"ai-ml","access":{"for":1234567,"level":4,"root":false,"draggable":true},"author":true},{"_id":4333095[...]
