---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713403465'
      Etag:
      - W/"545-AaQH7euQCioqd5BO/45xFj+M2Ks"
    body:
      encoding: ASCII-8BIT
      string: '{"result":true,"items":[{"view":"list","_id":36370053,"title":"Unread","description":"","user":{"$ref":"users","$id":1234567},"public":false,"count":707,"cover":[],"expanded":true,"creatorRef":{"_id":1234567,"name":"user123","email":""},"lastAction":"2023-09-07T23:39:51.888Z","created":"2023-07-31T22:47:02.382Z","lastUpdate":"2023-09-07T23:39:51.888Z","sort":36370053,"slug":"unread","access":{"for":1234567,"level":4,"root":false,"draggable":true},"author":true},{"_id":43330903,"title":"tech","description":"","user":{"$ref":"users","$id":1234567},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1234567,"name":"user123","email":""},"lastAction":"2024-04-16T17:19:12.919Z","created":"2024-04-16T17:19:12.943Z","lastUpdate":"2024-04-16T17:19:12.943Z","slug":"tech","access":{"for":1234567,"level":4,"root":false,"draggable":true},"author":true},{"_id":43358979,"title":"Interesting","description":"","user":{"$ref":"users","$id":1234567},"public":false,"view":"simple","count":0,"cover":[],"sort":0,"expanded":true,"creatorRef":{"_id":1234567,"name":"user123","email":""},"lastAction":"2024-04-17T18:20:09.703Z","created":"2024-04-17T18:20:09.704Z","lastUpdate":"2024-04-17T18:20:09.704Z","slug":"interesting","access":{"for":1234567,"level":4,"root":false,"draggable":true},"author":true}]}'
  recorded_at: Thu, 18 Apr 2024 01:23:25 GMT
recorded_with: VCR 6.2.0
