---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713371998'
      Etag:
      - W/"391-8990XxM3TLU/G3W7zD38T4f7g4Q"
    body:
      encoding: ASCII-8BIT
      string: '{"result":true,"user":{"tfa":{"enabled":false},"files":{"used":0,"size":100000000,"lastCheckPoint":"2023-07-31T22:45:12.130Z"},"_id":"123456789","fullName":"user123","name":"user123","email":"user123@example.com","avatar":"","pro":false,"groups":[{"title":"Collections","hidden":false,"sort":0,"collections":[43330903,36370053]}],"lastAction":"2024-04-16T17:26:48.784Z","lastVisit":"2024-04-17T02:35:02.596Z","registered":"2023-07-31T22:45:12.131Z","lastUpdate":"2024-04-17T02:35:02.596Z","config":{"default_collection_view":"simple","raindrops_hide":["list_excerpt","simple_excerpt","grid_excerpt","masonry_excerpt"],"raindrops_buttons":["select","preview","edit","remove"],"raindrops_search_by_score":true,"raindrops_search_incollection":false,"broken_level":"default","font_size":0,"add_default_collection":-1,"acknowledge":[],"last_collection":-1,"add_auto_save":true,"nested_view_legacy":true},"password":true}}'
  recorded_at: Wed, 17 Apr 2024 16:38:58 GMT
recorded_with: VCR 6.2.0
