---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/raindrops/36370053?page=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713752214'
      X-Api-Cache:
      - HIT
      Etag:
      - '"6c03-pbi5TbVE79PQqhcr+2c+wslvtBc"'
    body:
      encoding: UTF-8
      string: '{"result":true,"items":[{"_id":619049873,"link":"https://www.akshaykhot.com/introduction-to-rails-initializers","title":"A
        Brief Introduction to Rails Initializers: Why, What, and How","excerpt":"You
        can use Rails initializers to configure your application or external gems.
        In this post, we''ll learn how they work.","note":"","type":"article","user":{"$ref":"users","$id":1629134},"cover":"https://www.akshaykhot.com/content/images/2023/07/code-10.png","media":[{"type":"image","link":"https://www.akshaykhot.com/content/images/2023/07/code-10.png"}],"tags":["rails"],"removed":false,"created":"2023-07-28T15:40:24.000Z","lastUpdate":"2023-08-02T21:38:10.570Z","collection":{"$ref":"collections","$id":36370053,"oid":36370053},"highlights":[],"domain":"akshaykhot.com","creatorRef":{"_id":1629134,"name":"user123","avatar":"","email":""},"sort":619049873,"collectionId":36370053},{"_id":619049872,"link":"https://www.vector-logic.com/blog/posts/common-distance-metrics-implemented-in-ruby","title":"Common
        Distance Metrics Implemented in Ruby","excerpt":"The fields of machine learning
        and artificial intelligence rely, fundamentally, upon the ability to measure
        the distance between two points. In this article we introduce some of the
        most common metrics used, discuss their interpretation and demonstrate how
        these can be imple[...]
[...]
