---
http_interactions:
- request:
    method: get
    uri: https://api.raindrop.io/rest/v1/raindrops/-1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1713752289'
      X-Api-Cache:
      - MISS
      Etag:
      - '"6255-joe7GOR3hy/CUQG6kErMsWvQOes"'
    body:
      encoding: UTF-8
      string: "{\"result\":true,\"items\":[{\"_id\":773210935,\"link\":\"https://unstructured.io/blog/understanding-what-matters-for-llm-ingestion-and-preprocessing\",\"title\":\"Understanding
        What Matters for LLM Ingestion and Preprocessing – Unstructured\",\"excerpt\":\"Unstructured
        effortlessly extracts and transforms complex data for use with every major
        vector database and LLM framework.\",\"note\":\"\",\"type\":\"article\",\"user\":{\"$ref\":\"users\",\"$id\":1629134},\"cover\":\"https://framerusercontent.com/images/wA7B5VKN3miwjCmQiCv1tCpc8.jpg\",\"media\":[{\"link\":\"https://framerusercontent.com/images/wA7B5VKN3miwjCmQiCv1tCpc8.jpg\",\"type\":\"image\"}],\"tags\":[],\"important\":false,\"removed\":false,\"created\":\"2024-04-21T20:36:03.462Z\",\"collection\":{\"$ref\":\"collections\",\"$id\":-1,\"oid\":-1},\"highlights\":[],\"lastUpdate\":\"2024-04-21T20:36:03.632Z\",\"domain\":\"unstructured.io\",\"creatorRef\":{\"_id\":1629134,\"name\":\"user123\",\"avatar\":\"\",\"email\":\"\"},\"sort\":773210935,\"collectionId\":-1},{\"_id\":773071229,\"link\":\"https://calculusmadeeasy.org/prologue.html\",\"title\":\"Prologue
        | Calculus Made Easy\",\"excerpt\":\"\",\"note\":\"\",\"type\":\"link\",\"user\":{\"$ref\":\"users\",\"$id\":1629134},\"cover\":\"https://rdl.ink/render/https%3A%2F%2Fcalculusmadeeasy.org%2Fprologue.html\",\"media\":[],\"tags\":[],\"important\":false,\"removed\":false,\"created\":\"2024-04-21T13:20:24.036Z\",\"collection\":{\"$ref\":\"collections\",\"$id\":-1,\"oid\":-1},\"highlights\":[],[...]
